<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{info.tittle}"></title>
</head>
<body>
<h1 th:text="#{info.heading}"></h1>
<form action="/customers" method="post">
  Language: <a href="?lang=en">English</a>|<a href="?lang=vi">Vietnamese</a>
  <fieldset>
    <input type="hidden" name="id" th:value="${customer.id}">
    <table>
      <tr>
        <td th:text="#{info.id_label}"></td>
        <td th:text="${customer.id}"></td>
      </tr>
      <tr>
        <td th:text="#{info.name_label}"></td>
        <td>
          <input type="text" name="name" th:value="${customer.name}">
        </td>
      </tr>
      <tr>
        <td th:text="#{info.email_label}"></td>
        <td>
          <input type="text" name="email" th:value="${customer.email}">
        </td>
      </tr>
      <tr>
        <td th:text="#{info.address_label}"></td>
        <td>
          <input type="text" name="address" th:value="${customer.address}">
        </td>
      </tr>
      <tr>
        <td th:text="#{info.province_label}"></td>
        <td>
          <select name="province">
            <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" th:value="#{info.submit_label}">
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<a href="/customers">Back to list</a>.
</body>
</html>